---
layout: default
popup-gallery: true
gallery-background: bg-featured
gallery:
  - column-size: ''
    aspect-ratio: ''
    background_image: ''
    type: ''
  - column-size: col-4
    aspect-ratio: square
    background_image: /images/golf.jpg
    type: grass
  - column-size: col-4
    aspect-ratio: square
    background_image: /images/card-1.jpg
    type: grass
  - column-size: col-4
    aspect-ratio: square
    background_image: /images/grass-blocks.jpg
    type: grass
  - column-size: col-12
    aspect-ratio: square
    background_image: /images/house.jpg
    type: mower
  - column-size: col-12
    aspect-ratio: landscape-wide
    background_image: /images/rake.jpg
    type: villa
  - column-size: col-6_sm-12
    aspect-ratio: landscape-wide
    background_image: /images/shovel-big.jpg
    type: shovel
  - column-size: col-3
    aspect-ratio: portrait
    background_image: /uploads/gf-baby4.jpg
    type: ''
---
<!-------------------------------------- popup-gallery ---------------------------------------->
{% if page.popup-gallery == true %}
  <section class="padded {{page.gallery-background}}">

    <h2> popup gallery </h2>
    <div class="gallery grid" id="lightgallery">

      {% for item in page.gallery %}
      {% if item.type != 'villa' %}

        <a class="{{item.column-size}}" href="{{item.background_image}}"> 
          <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"> 
          </div> 
        </a>
      {% endif %}
      {% endfor %}

    </div>  
  </section>


  {% else %}


  <!-------------------------------------- standard gallery ----------------------------------------->

  <section class="padded {{page.gallery-background}}">       

    <h2> standard gallery </h2>
    <!-- standard gallery -->
    <div class="gallery grid">

    {% for item in page.gallery %}

      <div class="{{item.column-size}}"> 
        <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"> 
        </div> 
      </div>

    {% endfor %}

    </div>
  </section>
{% endif %}

{% include testimonial.html %}

<!-- <div class="gallery grid"> 
    <div class="col-12"> 
      <div class="bg-image landscape-wide bg-1"> </div> 
    </div>
    <div class="col-6_xs-12"> 
      <div class="bg-image portrait bg-2"> </div> 
    </div> 
    <div class="col-6_xs-12"> 
      <div class="bg-image portrait bg-3"> </div> 
    </div>
    <div class="col-4_xs-12"> 
      <div class="bg-image landscape bg-4"> </div> 
    </div>
    <div class="col-4_xs-12"> 
      <div class="bg-image landscape bg-5"> </div> 
    </div>
    <div class="col-4_xs-12">
      <div class="bg-image landscape bg-6"> </div> 
    </div>
    <div class="col-6_xs-12">
      <div class="bg-image square bg-7"> </div> 
    </div>
    <div class="col-6_xs-12"> 
      <div class="bg-image square bg-8"> </div> 
    </div>
    <div class="col-3_xs-12">
      <div class="bg-image landscape bg-9"> </div> 
    </div>
    <div class="col-3_xs-12">
      <div class="bg-image landscape bg-10"> </div> 
    </div>
    <div class="col-3_xs-12">
      <div class="bg-image landscape bg-11"> </div> 
    </div>
    <div class="col-3_xs-12">
      <div class="bg-image landscape bg-12"> </div> 
    </div>
    <div class="col-12">
      <div class="bg-image landscape-wide bg-13"> </div> 
    </div>
  </div> -->


  <!-- <div class="gallery grid" id="lightgallery-2">

    <a class="button" href="/images/grass-blocks.jpg" title="Grass squares"> 
      View our work 
    </a>
    <a href="/images/golf.jpg" title="Golf court">             </a>
    <a href="/images/card-1.jpg" title="New mower">            </a>
    <a href="/images/grass-blocks.jpg" title="Grass squares">  </a>
    <a href="/images/house.jpg" title="Villa">                 </a>
    <a href="/images/rake.jpg" title="Rake ">                  </a>
    <a href="/images/shovel-big.jpg" title="shovel">           </a>

</div> -->
