---
layout: default
icon:
 - group: fas fa-bacteria
   category: Bacteria
   discription: Lorem ipsum dolor sit amet consectetur adipisicing elit. Et architecto similique nemo, totam aliquam, sapiente commodi iste voluptates a cumque quod saepe tempore voluptas vero praesentium doloremque ullam debitis aperiam!
 - group: fas fa-fire
   category: Flammable
   discription: Lorem ipsum dolor sit amet consectetur adipisicing elit. Et architecto similique nemo, totam aliquam, sapiente commodi iste voluptates a cumque quod saepe tempore voluptas vero praesentium doloremque ullam debitis aperiam!
 - group: fas fa-head-side-mask
   category: Use mask
   discription: Lorem ipsum dolor sit amet consectetur adipisicing elit. Et architecto similique nemo, totam aliquam, sapiente commodi iste voluptates a cumque quod saepe tempore voluptas vero praesentium doloremque ullam debitis aperiam!     
 - group: fas fa-skull-crossbones
   category: Toxic
   discription: Lorem ipsum dolor sit amet consectetur adipisicing elit. Et architecto similique nemo, totam aliquam, sapiente commodi iste voluptates a cumque quod saepe tempore voluptas vero praesentium doloremque ullam debitis aperiam!
card:
 - object: Rake-fork
   featured_image: /images/rake-fork
 - object: mower 
   featured_image: /images/card-1.jpg
 - object: Caster   
   featured_image: /images/tractor.jpg
 - object: Shovel 
   featured_image: /images/rake-fork.jpg 
---

            <!----------------------------------------------- This is the icon with text section ---------------------------------------------->
            <section class="grid-spaceAround text-center padded-tb">   
                {% for item in page.icon %}
                <div class="col-2_sm-5"> 
                        <i class="{{item.group}}"> </i>
                    <div class="text-left"> 
                        <p> <h2 class="text-center"> {{item.category}} </h2> <br> {{item.discription}} </p>
                    </div>
                </div>
                {% endfor %}    
            </section>

            <!----------------------------------------------- This is the cards section ---------------------------------------------->   
            <section class="padded-tb margin-t-4"> 
                <!-- card 1 -->
                <h2 class="text-center bg-green"> new in our collection </h2>
                {% for item in page.card %}
                <div  class="grid-spaceAround text-center padded-sm margin-t-4"> 
                    <div class="col-2_sm-5">  
                        <div>
                            <h2 class="bg-green"> {{item.object}} </h2>   
                            <img style="background-image: url('{{item.featured_image}}')"> 
                        </div>    
                    </div> 
                </div>
                {% endfor %}   
            </section>

            <!---------------------------- here we put the testimonial block -------------------------------------->  
            <section class="grid-spaceAround margin-t-b">
            <div class="col-2 text-center">
                <span class="quote-icon">“</span>
            </div>
            <div class="col-8 text-center"> 
                <p class="medium-text sm-text"> We used the Grass master for our landscaping, irrigation, and yard lighting projects. </p>
                <p> - A very happy costumor</p>
            </div>    
            <div class="col-2 text-center">
                <span class="quote-icon">”</span>
            </div> 
            </section>  

 