            <!---------------------------- here we put the testimonial block -------------------------------------->  
            <section class="grid-spaceAround margin-t-b margin-b-b" data-aos="fade-up" data-aos-delay="200">
                {% for item in page.testimonial %}
                <div class="col-1 text-right">
                    <span class="quote-icon">“</span>
                </div>
                <div class="col-9 text-center"> 
                    <p class="medium-text"> {{item.discription}} </p>
                    <p> {{item.reaction}}</p>
                </div>    
                <div class="col-1 text-left">
                    <span class="quote-icon">”</span>
                </div> 
                {% endfor %}
        </section> 